$navbar-background-color: transparent;
$navbar-height: 4rem;
$navbar-padding-vertical: 2rem;
$navbar-padding-horizontal: 2rem;
$family-primary: 'F37 Ginger', sans-serif;
$section-padding: 3rem 1.5rem;
$section-padding-medium: 7rem 1.5rem;
$section-padding-large: 11rem 1.5rem;
$footer-background-color: #fff;
$footer-padding: 6rem 1.5rem 3rem;
$grey-dark: #2D3144;
$grey-light: #959595;
$primary: #F0814D;
$hr-background-color: rgba(45, 49, 68, .2);
$hr-height: 1px;
$hr-margin: .75rem 0;
$fullhd-enabled: false;
$size-1: 3.5rem;
$modal-content-width: 80vw;
$modal-close-right: 16px;
$modal-close-top: 16px;
