$navbar-background-color: transparent;
$navbar-height: 8rem;
$family-primary: 'F37 Ginger', sans-serif;
$section-padding: 3rem 2.75rem;
$section-padding-medium: 8rem 2.75rem;
$section-padding-large: 18rem 2.75rem;
$footer-background-color: #fff;
$grey-dark: #2D3144;
$grey-light: #959595;
$primary: #F0814D;
$button-padding-vertical: 0.5rem;
$hr-height: 1px;
$hr-margin: 1.25rem 0;
