
//
// Layout: Headers
//


.header-main {
  padding: 100px 0 130px;
  
  .brand {
    height: 30px;
    transition: all 120ms;

    &:hover {
      opacity: .8;
    }

    &:active {
      transform: scale(.97);
    }
  }


  // Media Queries
  @include mq-before('x-small') {
    padding: 40px 0 80px;

    .brand {
      height: 26px;
    }
  }
}