
//
// Layout: Page - Success
//


section.signup-success {
  margin-bottom: 240px;

  .brand {
    margin-bottom: 56px;
  }

  .section-title {
    margin-bottom: 24px;
  }


  // Media Queries
  // @include mq-before('x-small') {
    
  // }
}