
//
// Layout: Page - Sign Up
//


// Section - Problems
section.signup {
  margin-bottom: 160px;

  .section-title {
    margin-bottom: 100px;
  }

  .signup-form {
    .input-checkbox {
      margin-top: 100px;
    }

    input[type="submit"] {
      width: 100%;
      margin-top: 70px;
    }

    .form-error {
      color: get-color(state, error);
      margin-top: 10px;
    }
  }


  // Media Queries
  @include mq-before('x-small') {
    margin-bottom: 100px;
    
    .section-title {
      margin-bottom: 40px;
    }

    .signup-form {
      .input-checkbox {
        margin: 56px 0;
      }
    }
  }
}